@import url("colors.css");

check 
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-unchecked.png"), url("checkbox-unchecked@2.png"));
        margin: 0 4px;
        min-height: 18px;
        min-width: 18px;
        background-color: transparent;
    }
    
check:hover
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-unchecked-hover.png"), url("checkbox-unchecked-hover@2.png"));
    }
    
check:checked
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-checked.png"), url("checkbox-checked@2.png"));
    }
    
check:checked:hover
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-checked-hover.png"), url("checkbox-checked-hover@2.png"));
    }
    
check:indeterminate
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-mixed.png"), url("checkbox-mixed@2.png"));
    }
    
check:indeterminate:hover
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-mixed-hover.png"), url("checkbox-mixed-hover@2.png"));
    }
    
check:disabled
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-unchecked-disabled.png"), url("checkbox-unchecked-disabled@2.png"));
    }
    
check:checked:disabled
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-checked-disabled.png"), url("checkbox-checked-disabled@2.png"));
    }
    
check:indeterminate:disabled
    {
        -gtk-icon-source: -gtk-scaled(url("checkbox-mixed-disabled.png"), url("checkbox-mixed-disabled@2.png"));
    }
    
   
radio 
    {
        -gtk-icon-source: -gtk-scaled(url("radio-unchecked.png"), url("radio-unchecked@2.png"));
        margin: 0 4px;
        min-height: 18px;
        min-width: 18px;
        background-color: transparent;            
    }
    
radio:hover
    {
        -gtk-icon-source: -gtk-scaled(url("radio-unchecked-hover.png"), url("radio-unchecked-hover@2.png"));
    }
    
radio:checked
    {
        -gtk-icon-source: -gtk-scaled(url("radio-checked.png"), url("radio-checked@2.png"));
    }
    
radio:checked:hover
    {
        -gtk-icon-source: -gtk-scaled(url("radio-checked-hover.png"), url("radio-checked-hover@2.png"));
    }

radio:indeterminate
    {
        -gtk-icon-source: -gtk-scaled(url("radio-mixed.png"), url("radio-mixed@2.png"));
    }    
    
radio:indeterminate:hover
    {
        -gtk-icon-source: -gtk-scaled(url("radio-mixed-hover.png"), url("radio-mixed-hover@2.png"));
    }   
    
radio:disabled
    {
        -gtk-icon-source: -gtk-scaled(url("radio-unchecked-disabled.png"), url("radio-unchecked-disabled@2.png"));
    }
    
radio:checked:disabled
    {
        -gtk-icon-source: -gtk-scaled(url("radio-checked-disabled.png"), url("radio-checked-disabled@2.png"));
    }
    
radio:indeterminate:disabled
    {
        -gtk-icon-source: -gtk-scaled(url("radio-mixed-disabled.png"), url("radio-mixed-disabled@2.png"));
    } 
    
checkbutton.text-button, radiobutton.text-button
    {
        color: @text_normal;
    }
    
checkbutton.text-button:hover, radiobutton.text-button:hover
    {
        color: @text_hover;
    }
    
checkbutton.text-button:disabled, radiobutton.text-button:disabled
    {
        color: @text_disabled;
    }
