@import url("colors.css");

button
    {
        margin-right: 1px;
        padding: 6px 8px;
        background-color: @btn_bg_normal;
        border: none;
        color: @button_text_normal;
    }
    
button:hover
    {
        background-color: @btn_bg_hover;
        color: @btn_text_hover;
    }
    
button:active
    {
        background-color: @btn_bg_pressed;
        color: @btn_text_pressed
    }
    
button:checked
    {
        background-color: @btn_bg_toggled;
        color: @btn_text_toggled;
        font-weight: bold;
    }
    
button:checked:hover
    {
        background-color: @btn_bg_toggledhover;
    }
    
button:disabled
    {
        background-color: @btn_bg_disabled;
        color: @btn_text_disabled;
    }
    

    
notebook > header > tabs > arrow:hover
{ background-color: #ff00ff; }

.inline-toolbar toolbutton > button
{ background-color: #ff00ff; }

.stack-switcher > button > image
    {
        padding: 4px 6px;
    }

/* Header page number buttons */
.stack-switcher > button.text-button 
    { 
        background-color: @btn_page_normal;
        box-shadow: 0px 3px 2px rgba(0,0,0,.8);
        padding: 6px 6px;
    }
    
.stack-switcher > button.text-button:hover
    {
        background-color: @btn_page_hover;
    }
    
    
button.flat,
.stack-switcher > button.image-button
    { 
        background-color: transparent;
        color: @button_text_normal;
        padding: 5px;
    }
    
button.flat:hover,
.stack-switcher > button.image-button:hover
    { 
        background-color: rgba(255,255,255,.05);
        color: @btn_text_hover;
    }
    
button.flat:active,
.stack-switcher > button.image-button:active
    { 
        background-color: rgba(255,255,255,.15);
        color: @btn_text_pressed;
    }

button.flat:checked,
.stack-switcher > button.image-button:checked
    { 
        background-color: @btn_bg_toggled;
        color: @btn_text_toggled;
    }
    
button.flat:checked:hover,
.stack-switcher > button.image-button:checked:hover
    { 
        background-color: @btn_bg_toggledhover;
        color: @btn_text_toggled;
    }
    
button.flat:checked:disabled,
.stack-switcher > button.image-button:disabled
    { 
        background-color: @btn_bg_disabled;
        color: @btn_text_disabled;
    }

button.destructive-action 
    { 
        background-color: @error_bg_main; 
        font-weight: bold;
    }
    
button.destructive-action:hover 
    { 
        background-color: #ff4664; 
    }
    




