@import url("colors.css");

spinbutton 
    {
        border: 1px solid @spin_border_normal;
        color: @spin_text;
    }
    
spinbutton:focus
    {
        border-color: @spin_border_focus;
    }

spinbutton:disabled
    {
        border-color: @spin_border_disabled;
        color: @text_disabled;
    }

spinbutton button
    {
        background-color: @spin_btn_normal;
        color: @spin_ctl_normal;
        font-weight: bold;
        box-shadow: none;
        text-shadow: 1px 1px 1px #ff0000;
    }
    
spinbutton button:hover
    {
        background-color: @spin_btn_hover;
        color: @spin_ctl_hover;
    }
    
spinbutton button:active
    {
        background-color: @spin_btn_active;
        color: @spin_ctl_active;
    }
    
spinbutton button:disabled
    {
        background-color: @spin_btn_disabled;
        color: @spin_ctl_disabled;
    }
    
spinbutton entry
    {
        border: none;
    }
