@import url("colors.css");

button
    {
        margin-right: 1px;
        padding: 6px 4px;
        background-color: @btn_bg_normal;
        border: none;
        color: @button_text_normal;
        box-shadow: 0px 4px 2px rgba(0,0,0,.6);
    }
    
button:hover
    {
        background-color: @btn_bg_hover;
        color: @btn_text_hover;
    }
    
button:active
    {
        background-color: @btn_bg_pressed;
        color: @btn_text_pressed
    }
    
button:checked
    {
        background-color: @btn_bg_toggled;
        color: @btn_text_toggled;
        font-weight: bold;
    }
    
button:checked:hover
    {
        background-color: @btn_bg_toggledhover;
    }
    
button:disabled
    {
        background-color: @btn_bg_disabled;
        color: @btn_text_disabled;
    }
    

    
notebook > header > tabs > arrow:hover
{ background-color: #ff00ff; }

.inline-toolbar toolbutton > button
{ background-color: #ff00ff; }




