@import url("colors.css");


entry
    {
        padding: 4px 2px;
        color: @text_normal;
        border: 1px solid @border_normal;
    }
    
entry:focus
    {
        color: @text_focus;
        border-color: @border_focus;
    }
     
entry:disabled
    {
        color: @text_disabled;
        border-color: @border_disabled;
        
    }
    
