@import url("colors.css");
@import url("buttons.css");
@import url("header.css");

*
    {
        padding: 0;
        -GtkToolButton-icon-spacing: 4;
        -GtkTextView-error-underline-color: @error_bg_main;
        -GtkButton-child-displacement-x: 0;
        -GtkButton-child-displacement-y: 0;
        -GtkCheckButton-indicator-size: 18;
        -GtkCheckMenuItem-indicator-size: 18;
        -GtkScrolledWindow-scrollbar-spacing: 0;
        -GtkScrolledWindow-scrollbars-within-bevel: 0;
        -GtkScrolled-window-overlay-scrolling: FALSE;
        -GtkToolItemGroup-expander-size: 11;
        -GtkExpander-expander-size: 16;
        -GtkTreeView-expander-size: 11;
        -GtkTreeView-horizontal-separator: 4;
        -GtkWidget-text-handle-width: 20;
        -GtkWidget-text-handle-height: 20;
        -GtkDialog-button-spacing: 4;
        -GtkDialog-action-area-border: 0;
        -GtkStatusbar-shadow-type: none;
        outline-width: 0px;
    }

.background 
    {
        color: @window_text_main;
        background-color: @window_bg_main;
    }

    
.view,
.vew text,
textview text
    {
        color: @window_text_main;
        background-color: @window_bg_alt;
    }

    
.rubberband,
rubberband,
flowbox rubberband,
treeview.view rubberband
    {
        background-color: @band_select_main;
        border: 1px solid @band_select_border;
    }
    

