@import url("colors.css");

menubar,
.menubar 
    {
        -GtkWidget-window-dragging: true;
        padding: 0;        
        background-color: @menubar_bg;
        color: text_normal;
    }
    
menubar > menuitem,
.menubar > menuitem
    {
        padding: 4px 6px;
    }
    
menubar > menuitem:hover,
.menubar > menuitem:hover
    {
        background-color: @menubar_bg_toggled;
        color: #ffffff;
    }
    
menubar > menuitem:disabled,
.menubar > menuitem:disabled
    {
        color: @text_disabled;
    }

menu,
.menu
    {
        background-color: @menu_bg;
        color: @text_normal;
        padding: 0;
    }
    
popover.background
    {
        padding: 0;
        background-color: @menu_bg; 
        box-shadow: 2px 2px 8px #000000;
        color: @text_normal;
    }
    

    
menu menuitem,
.menu menuitem
    {
        padding: 4px 6px;
    }
    
menu menuitem:hover,
.menu menuitem:hover
    {
        background-color: @menu_item_hover;
        color: @text_hover;
    }
 
menu menuitem:disabled,
.menu menuitem:disabled
    {
        color: @text_disabled;
    }
    
    
menu separator,
.menu separator
    {
        color: @menu_separator;
        margin-top: 3px;
        margin-bottom: 3px;
    }


    

